{% extends 'base.html' %}
{% block title %}Edit Link{% endblock title %}
{% block content %}
<form action="{{url_for('url.update', short_id=url.short_id)}}" method="POST" class="form-container">
  <div class="form-group">
    <h3>Edit Link</h3>
  </div>
  <div class="form-group"> 
    <label for="long_link">Original Link</label>
    <input type="text" name="long_link" class="form-control" value="{{url.org_url}}" disabled/>
  </div>
  <div class="form-group">
    <label for="short_link">Previous Shortened Link</label>
    <input type="text" name="short_link" class="form-control" value="{{request.host_url}}{{url.short_id}}" disabled/>
  </div>
  <div class="form-group">
    <label for="custom_path">New Custom Id</label>
    <input type="text" class="form-control" placeholder="{{url.short_id}}" name="custom_path" required/>
  </div>
  <div class="form-group">
    <input type="submit" value="Update Link" class="button"/>
  </div>
</form>
{% endblock content %}
