*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: rgb(118, 14, 236);
}
header{
    background-color: black;
    padding: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 52px;
}
.logo a{
    color: white;
}
.nav-items{
    width: 20%;
    display: flex;
    justify-content:center;
    margin-left: 60%;
    
}
.nav-items a{
    margin-left: 15px;
    color: white;
    border: 2px solid white ;
    font-weight: bold;
    
}
.nav-items a:hover{
    font-size: large;
    transition: all 4ms;

}
main{
    min-height: 100vh;
    
}

.container{
    padding-top: 5%;
    margin:auto;
    width: 80%;
    border: 2px solid red;
}
footer{
    padding: 20px;
    background-color: black;
    color: white;
}

.footer a{
    color: blueviolet;
}

.message button{
    color:red;
    padding:5px;
}

.grid-container{
    padding: 5px;
    margin-top: 20px;
    border: 2px solid yellow;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns:390px 200px 70px repeat(2,200px) 100px;
    column-gap: 2px;
    /* justify-content: space-around; */
}
.tab-head{
    border: 1px solid blueviolet;
    text-align: center;
    font-weight: bold;
    
}
.tab-data{
    /* place-items: center; */
    text-align: center;
    margin-top: 20px;
    border: 1px solid palevioletred;
    /* align-items: baseline; */
    /* justify-content: center; */
    align-self: center;
    word-wrap: break-word;
    /* overflow-wrap: break-word; */
    
    
}
.tab-data a:hover{
    font-size: small;
}
.tab-data img{
    text-align: center;
    border: 1px solid blue;
    /* margin-top: 10px; */
}
/* .tab-data .link{
    margin-top: 60px;
    padding-bottom: 100px;
    border: 1px solid black;
    
} */
/* .tab-data small{
    margin-top: 60px;
    border: 1px solid black;
    padding-top: 200px;
    align-items: baseline;
} */
.add{
    border: 1px solid blue;
    margin-left: 95%;
}

.tab-data .btn{
    background-color: rgb(233, 17, 17); 
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    transition: all 1.2s; 
    /* transition: 0.3s;  */
    cursor: pointer;
    height: 20px;

}
.btn:hover{
    background-color: rgb(244, 240, 240);
    font-size: large;
    transition: all 0.3s;
    color: red;
}
.addbtn{
    padding: 10px;
    background-color: rgb(33, 185, 56); 
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition: all 1.2s; 
    /* transition: 0.3s;  */
    cursor: pointer;
}
.addbtn:hover{
    background-color: rgb(8, 133, 58);
    font-size: 15px;
    transition: all 1.2ms;
    
}
.addbtn a{
    color: white;
}



@media only screen and (max-width:767px) and (orientation:portrait){
   main{
    min-height: 800px;
   }
    #created{
        display: none;
    }
    .grid-container{
        /* display: flex; */
        display: grid;
        /* align-items: flex-start; */
        grid-template-columns: repeat(2,100px) 40px 60px 50px;
        /* justify-content: space-between; */
        /* flex-direction:column;
        flex-wrap: wrap; */
        /* width: 100%; */
        margin: auto;
    }
    .tab-head{
        /* width: auto; */
        font-size: small;
    }
    .tab-data{
        font-size: x-small;
        word-break: break-all;
    }
    .tab-data img{
       height: 40px;
    }
    #time{
        display: none;
    }
    .btn{
        padding: 7px;
    }
  
    .container{
        width: 100%;
    }
    /* .note{
        animation-name: none;
        margin: 25px auto;
        text-align: center;
    } */
    body{
        width: 100%;
    }
    .nav-items{
        width: auto;
        margin-left: 0%;
    }
    .nav-items a{
        margin-left: 2px;
        font-size: small;
    }
    .add{
      margin-left: 92%;  
    }
    .addbtn{
        padding: 2px;
    }
    /* .name1{
        text-align: center;
    }
    h2{
        display: flex;
        flex-direction: column;
    }
    .form{
        padding: 5px 15px;
    } */
}
@media only screen and (min-width:768px) and (orientation:portrait){
   main{
    min-height: 800px;
   }
    .grid-container{
        /* display: flex; */
        display: grid;
        /* align-items: flex-start; */
        grid-template-columns: 250px 150px 40px 120px 100px 70px;;
        /* justify-content: ; */
        
        margin: auto;
    }
    .tab-head{
        /* width: auto; */
        font-size: small;
    }
    .tab-data{
        font-size: small;
        word-break: break-all;
    }
    .tab-data img{
       height: 40px;
    }
    .tab-data .date{
        display: none;
    }
    .container{
        width: 100%;
    }
    
    body{
        width: 100%;
    }
    .nav-items{
        width: auto;
        margin-left: 0%;
    }
    .nav-items a{
        margin-left: 5px;
        font-size: small;
    }
    .add{
    border: 1px solid blue;
    margin-left: 92%;
    }
    .addbtn{
    padding: 5px;
    background-color: rgb(33, 185, 56); 
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: all 1.2s; 
    /* transition: 0.3s;  */
    cursor: pointer;
    margin-left: 8px;
    }
}
