<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kurt-C | {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
    <link rel="stylesheet" href="{{url_for('auth.static',filename='auth.css')}}" />
    <link rel="stylesheet" href="{{url_for('url.static',filename='main.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
  <header>
    <div class="logo">
      <a href=""><h2>Kurt-C</h2></a>
    </div>
    <div class="nav-items ">
        {% if current_user.is_authenticated %}
          <!-- <span>{{current_user.username }}</span> -->
          <a href="{{url_for('dashboard.index')}}">Dashboard</a>
          <a href="{{url_for('url.shorten_url')}}">Shorten Link</a>
          <a href="{{url_for('auth.logout')}}">Logout</a>
        {% else %}
          <!-- <a href="{{url_for('dashboard.index')}}">Dashboard</a> -->
          <a href="{{url_for('auth.register')}}">Register</a>
          <a href="{{url_for('auth.login')}}">Login</a>
          <a href="">About</a>
        {% endif %}
    </div>
  </header>

    {% with messages= get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message" role="alert">
                    <button type="button"><span>x</span></button>
                    {{message}}
                </div>

            {% endfor %}
        {% endif %}
    {% endwith %}
    <main class="container">{% block content %} {% endblock content %}</main>
    <footer>
      <small class="footer">
        Maintained on <a href="https://github.com/innocentisreal89/scissor" target="_blank">GitHub</a> by
        <a href="https://twitter.com/G_Science1" class="twitter" target="_blank"
          >@G_Science1</a
        >,
        <a href="https://altschoolafrica.com/schools/engineering" target="_blank"
          >AltSchool Africa</a
        >
        <script>
          document.write(new Date().getFullYear());
        </script>
      </small>
    </footer>
</body>

</html>